html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

.theme-main {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 212, 90%, 24%, 1;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 212, 90%, 24%, 1;
    --primary-foreground: 224, 77%, 8%, 1;

    --secondary: 0, 0%, 39%, 1;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 212, 90%, 24%, 1;
    --accent-foreground: 240 4.8% 95.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
}

.theme-main.dark {
    --background: 220, 77%, 8%;
    --foreground: 0 0% 98%;

    --muted: 212, 92%, 10%, 1;
    --muted-foreground: 204, 100%, 55%, 1;

    --popover: 220, 77%, 8%;
    --popover-foreground: 212, 89%, 82%, 1;

    --card: 224, 77%, 8%, 1;
    --card-foreground: 224, 77%, 8%, 1;

    --border: 212, 90%, 24%, 1;
    --input: 212, 90%, 24%, 1;
    --input-placeholder: 204, 100%, 92%, 1;

    --primary: 212, 91%, 50%, 1;
    --primary-foreground: 212, 89%, 82%, 1;

    --secondary: 212, 89%, 82%, 1;
    --secondary-foreground: 0 0% 98%;

    --accent: 212, 91%, 50%, 1;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
}

